{% extends "page.html" %}

{% block head %}
<script type="text/javascript" src="../static/js/landing.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>ListenToTwitter</h1>
    <br/>
    <p id="homepage" class="text-primary">Twitter Plays Piano.</p>

    <p id="homepage">NoisyTweets takes every tweet about a given keyword, hashtag or username and analyse the mood of that tweet and then map various emotions to a range of musical notes.</p>

    <div class="form-group">
        <input class="form-control" id="focusedInput" type="text" placeholder="Enter your keyword here.">
        <a id="go_button" class="btn btn-primary" style="text-align:right">  Go  </a>
    </div>
</div>

{% endblock %}