{% extends "page.html" %}

{% block head %}
<script type="text/javascript" src="../static/js/landing.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="text-align:center">
    <h1>ListenToTwitter</h1>
    <br/>
    <p id="homepage" class="text-primary">Twitter Plays Piano.</p>

    <p id="homepage">ListenToTwitter takes every tweet about a given keyword, hashtag or username. It analyses the mood of that tweet, then maps various emotions to a range of musical notes.</p>

    <div class="form-group">
        <div class="col-sm-10">
            <input class="form-control" size="30" id="focusedInput" type="text" placeholder="Enter your keyword here.">
        </div>
        <a id="go_button" class="btn btn-primary" style="text-align:right">  Make some music!  </a>
    </div>
</div>

{% endblock %}